# LaTeX temporary files
*.aux
*.log
*.toc
*.xdy

# Zip files
*.zip

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out
*.ilg
*.idx

# BibTeX
*.bbl
*.blg
*.synctex
*.xml
*.lot
*.lol
*.lof
*.listing
*.cut
*.out
*.lwarpmkconf
*.mw
*.sidetoc

